body {
	background-color: #444;
	color: #fff;
}
#rows {
	margin-top: 50px;
	width: 100%;
}
form {
	text-align: right;
}
input, textarea {
	width: 80%;
	margin-bottom: 8px;
	border-radius: 4px;
	padding-left: 8px;
}
button{ 
	background-color: #333;
	border: none;
	padding:10px 25px;
	border-radius: 4px;
}
input, textarea {
	color: #000;
}
.boxEven {
	background-color: #333;
	padding: 5px 5px 10px 20px;
	margin-bottom: 3px;
	border-radius: 4px;
}
.boxOdd {
	background-color: #AAA;
	padding: 2px 5px 2px 20px;
	margin-bottom: 3.5px;
	border-radius: 5px;
}
.userHeader {
	color: hotpink;
	text-transform: uppercase;
}
.boardtext {
	letter-spacing: .0625em;
	width: 90%;   /*how do I add hyphenation?*/ 
}